#logged-in:not(.not-login) {
    display: none;
}

.not-login {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 70px;
    left: 0;
    background: rgba(228, 226, 226, 0.8);
    z-index: 4;
}

.login-or-register {
    margin-top: 20%;
}

.login-or-register p {
    text-align: center;
}

.login-or-register a {
    font-size: 2rem;
}

.not-login .tips {
    text-align: center;
    font-size: 0.9rem;
    font-style: oblique;
    color: brown;
}

.input-field {
    display: grid;
    margin: 10px auto;
}

textarea {
    resize: vertical;
    min-height: 50px;
}

.job-list h1 {
    text-align: center;
}

.job-list table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.job-list .job-title,
.job-list .job-title-header {
    width: 55%;
}

.job-list .publishing-date,
.job-list .publishing-date-header {
    width: 30%;
}

.job-list .operation,
.job-list .operation-header {
    width: 15%;
}

.job-list .job-title {
    text-align: left;
}

.job-list .publishing-date {
    text-align: center;
}

.job-list .operation {
    text-align: center;
}