.job-detail h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
}

.content-section {
    padding: 10px;
}

.content-part {}

.company-name-content {}

.company-address-content {}

.job-responsibilities-content {}

.job-requirements-content {}

.job-salary-content {}

.contact-information-content {}


.apply-job {
    width: 30%;
    height: 40px;
    margin: 50px auto;
}

.apply-job-button {
    width: 100%;
    height: 100%;
}